@model IEnumerable<CrudOperation.Models.Product>

@{
    ViewBag.Title = "GetProductList";
}

<h2>GetProductList</h2>

<p>
    <a href="@Url.Action("NewProduct")" class="btn btn-primary">Create New</a>
</p>
<table class="table table-striped">
    <thead class="thead-dark bg-secondary">
        <tr class="p-4">
            @*<th>
            @Html.DisplayNameFor(model => model.id)
        </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StockCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                @*<td>
            @Html.DisplayFor(modelItem => item.Id)
        </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StockCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category)
                </td>
                <td>
                    <a href="@Url.Action("Edit", "Product", new { id = item.Id })" onclick="return confirm('Are you sure you want to edit?')" class="btn btn-primary">Edit</a>

                    <a href="@Url.Action("Delete","Product", new {id = item.Id })" onclick="return confirm('Are you sure you want to delete?')" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
